<div class="jumbotron">
  <h1>Welcome</h1>
  <h4>Thank you for joining us today</h4>
  <form id="form_id" action="sign-in.html">
    <a ui-sref="sign-in"><button ng-submit="submit" class="btn btn-primary">Sign In</button></a>
    <a ui-sref="whos-here"><button ng-submit="submit" class="btn btn-success">Who's here</button></a>


</div>
<div class="container" ng-controller="StudentsCtrl">
  <h2>All Students in this class</h2>
  <ul>
    <li ng-repeat="item in students">
      {{item.name}}
    </li>
  </ul>
</div>
