<div class="row">

  <div class="col-md-8" ng-show="students.length">
    <h2>Please sign in</h2>
    <h2>Students here</h2>
    <ul>
      <li class="unbulleted" ng-repeat="item in studentsHere = (students | filter:{inClass: true})">
        <a ui-sref="sign-in" ng-click="studentSignOut(item)">
          <button class="btn btn-success">Sign Out</button></a>
          {{item.name}}
      </li>
    </ul>
    <h2>Students not here</h2>
    <ul>
      <li class="unbulleted" ng-repeat="item in studentsHere = (students | filter:{inClass: false})">
        <a ui-sref="sign-in" ng-click="studentSignIn(item)">
          <button class="btn btn-danger">Sign In</button></a>
          {{item.name}}
      </li>
    </ul>
    </div>
  </div>
</div>
