<div class="row" ng-controller="StudentsCtrl">
  <div class="col-md-6 bg-danger" ng-show="students.length">
    <h2>Students here</h2>
    <ul>
      <li ng-repeat="item in studentsHere = (students | filter:{inClass: true})">
        {{item.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-6 bg-success" ng-show="students.length">
    <h2>Students not here</h2>
    <ul>
      <li ng-repeat="item in studentsNotHere = (students | filter:{inClass: false})">
        {{item.name}}
      </li>
    </ul>
  </div>
</div>
